.consulting-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
  
    .whatWeDo {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      column-gap: 50px;
  
      .sevices-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 30px 15px;
        border-radius: 15px;
  
        h6 {
          font-weight: bold;
        }
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .consulting-section2 {
      margin: 50px 15px;
      h6{
        font-size: 14px;
      }
      
      h2{
        font-size: 20px;
        text-align: center;

      }
      .whatWeDo {
        flex-direction: column;
        row-gap: 30px;
        column-gap: 0;
  
        .sevices-info {
          width: 100%;
          padding: 25px 20px;
  
          h6 {
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }
  }
  