.cyber-section5 {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h6,
    h2 {
      font-weight: bolder;
      text-align: center;
    }
  
    ul {
      padding: 20px;
  
      li {
        text-align: left;
        font-size: 17px;
        line-height: 40px;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .cyber-section5 {
      margin: 30px 15px;
  
      h6,
      h2 {
        font-size: 18px;
      }
  
      ul {
        padding-left: 40px;
        text-align: center;
  
        li {
          font-size: 13px;
          line-height: 28px;
          
        }
      }
    }
  }
  