.enterprise-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
  
    .whatWeDo {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      column-gap: 50px;
  
      .sevices-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 30px 15px;
        border-radius: 15px;
        width: 270px;
  
        h6 {
          font-weight: bold;
        }
      }
    }
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .enterprise-section2 {
      margin: 40px 0;
  
      h6{
        font-size: 14px;
      }
      h2{
        text-align: center;
        font-size: 20px;
      }
      .whatWeDo {
        flex-direction: column;
        row-gap: 30px;
        column-gap: 0;
        align-items: center;
        width: 80%;
  
        .sevices-info {
          width: 90%; // use a percentage width to adapt to screen
        }
      }
    }
  }
  