.consulting-section5 {
    background-image: url("./../../../../assets/images/Consulting-images/consulting-section5-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 90px 0px;
  
    h2 {
      padding-bottom: 50px;
    }
  
    h1 {
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .consulting-section5 {
      padding: 60px 20px;
  
      h2 {
        padding-bottom: 18px;
        font-size: 18px;
      }
  
      h1 {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }
  