.cyber-section6 {
    background-image: url("./../../../../assets/images/CyberSecurity-images/cyber-section6-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 10px;
    text-align: center;
    margin-top: 60px;
  
    h3 {
      font-size: 35px;
      padding-bottom: 30px;
    }
  
    h2 {
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .cyber-section6 {
      padding: 60px 12px;
  
      h3 {
        font-size: 20px;
        padding-bottom: 20px;
      }
  
      h2 {
        font-size: 25px;
      }
    }
  }
  