.it-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12%;
    max-width: 1440px;
    margin: 100px auto;
  
    .consultingSection3-text {
      width: 50%;
  
      h2 {
        font-weight: bolder;
      }
  
      ol {
        width: 100%;
  
        li {
          margin-bottom: 6px;
          line-height: 25px;
          font-size: 17px;
        }
      }
    }
  
    .consultingSection3-img {
      display: flex;
      justify-content: center;
      width: 43%;
  
      img {
        width: 100%;
        border-radius: 80px;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .it-section3 {
      flex-direction: column;
      text-align: center;
      padding: 0 15px;
      row-gap: 40px;
  
      .consultingSection3-text {
        width: 100%;
  
        ol {
          padding-left: 20px;
          text-align: left;
        }
      }
  
      .consultingSection3-img {
        width: 100%;
  
        img {
          border-radius: 40px;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  