@keyframes popShiny {
    0% {
      opacity: 0;
      transform: scale(0.8);
      text-shadow: none;
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    }
    100% {
      transform: scale(1);
      text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .it-section1 {
    margin-top: 120px;
    color: white;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("./../../../../assets/images/IT-Services-images/it-services-section1-bg.png");
    position: relative;
    overflow: hidden;
    animation: zoomIn 5s ease-in-out infinite alternate;
  
    h1 {
      font-size: 50px;
      margin: 0px;
      animation: popShiny 1.5s ease-in-out infinite alternate;
    }
  }
  
  @media screen and (max-width: 600px) {
    .it-section1 {
      height: 25vh;
      padding: 0 20px;
  
      h1 {
        font-size: 28px;
      }
    }
  }
  