.asection1{
    margin: 120px 0px;
    background-image: url("./../../../assets/images/homepage-bg.gif");
    height: 50vh;
    box-shadow: inset;
    background-position: center;
   


    h1{
       top: 150px;
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        color: white;
    }
}