.enterprise-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12%;
    max-width: 1440px;
    margin: 50px auto;
  
    .consultingSection3-text {
      width: 50%;
  
      h2 {
        font-weight: bolder;
      }
  
      p {
        width: 80%;
      }
    }
  
    .consultingSection3-img {
      display: flex;
      justify-content: center;
      width: 35%;
  
      img {
        width: 100%;
        border-radius: 80px;
      }
    }
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 600px) {
    .enterprise-section3 {
      flex-direction: column;
      row-gap: 30px;
      margin: 30px 15px;
  
      .consultingSection3-text {
        width: 100%;
        text-align: center;
  
        p {
          width: 100%;
        }
      }
  
      .consultingSection3-img {
        width: 100%;
  
        img {
          border-radius: 30px;
          max-width: 90%;
        }
      }
    }
  }
  