.cloudSection1{
    width: 100%;
    background-image: url("./../../../../assets/images/Cloud-ServicesB.png");
    background-repeat: no-repeat;
    height: 38vh;
    background-position: center;
    margin-top: 100px;

    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: 100px;

    .text{
        h1{
            color: white;
            font-weight: bolder;
            font-size: 50px;  
        }
    }
}