
.asection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;

    h1{
        font-size: 45px;
        font-weight: bolder;
    }
.hover-effect {
    position: relative;
    width: 300px;
    height: 400px; 
    cursor: pointer;
    perspective: 1000px; 
    margin-left: 120px;

    .default{
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 273px;
      object-fit: cover;
      transform-origin: left center; 
      transition: transform 0.6s ease; 
      transform: rotateY(0); 
     
    }
    .page{
        top: 0;
        left: 0;
        width: 230px;
        height: 300px;
        object-fit: cover;
    }
    .default{
        z-index: 1;
    }

  
    &:hover .default {
      transform: rotateY(-20deg);
    }
  }
  
}


@media (max-width: 600px) {
  .asection3 {
    h1 {
      font-size: 28px;
      text-align: center;
    }

    
  }
}