.network-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
    h2{
        text-align: center; 
        font-weight: 900;
        font-size: 40px;
    }
    h6{
        font-weight: bolder;
    }
    p{
        text-align: center;
        font-size: 12px;
    }
    .whatWeDo{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        column-gap: 50px;

        .sevices-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            padding: 30px 15px;
            border-radius: 15px;
            width: 270px;
            
            h6{
                font-weight: bold;

            }
        }
    }
}