.enterprise-section5 {
    background-image: url("./../../../../assets/images/Consulting-images/consulting-section5-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 90px 0px;
    margin-top: 60px;
  
    h2 {
      padding-bottom: 40px;
      font-size: 50px;
    }
  
    h1 {
      font-size: 45px;
    }
  }
  
  @media (max-width: 600px) {
    .enterprise-section5 {
      padding: 50px 20px;
  
      h2 {
        font-size: 30px;
        padding-bottom: 25px;
      }
  
      h1 {
        font-size: 25px;
      }
    }
  }
  